.DS_Store
.config/gh/*
.config/flipperdevices.com/*
.config/cava/*
.config/jgit/*
.config/micro/*
.config/neofetch/*
.config/hmc/*
.config/jgit/*
.config/htop/*
.config/iterm2/*
.config/nvim/NeogitStatus
